<!DOCTYPE HTML>
<html>
	<head>
		<title>{{page.title}} - Samyama Technology</title>
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
	</head>

	<body>

		<div id="masthead">
			<h1><img alt="Samyama Technology Solutions logo" src="/images/Samyama.png" /></h1>
    		<ul id="nav">
        		<!-- Nav goes here... -->
    		</ul>
		</div>
		
		<div id="wrap">
			<div id="header">
				<img alt="tokyo buildings" src="/images/header1.jpg" />
			</div>
			<div id="content_wrapper">
  				<!--[if lt IE 7]>
  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 95px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.  If you are a corporate user please check <a href="http://www.ie6nomore.com/corporate-users.html" target="_blank">here</a> for more information.</div>
      </div>
      <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
      <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
      <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
  </div>
  <![endif]-->
				<div id="contentContainer">
					<div id="contentheader">
						{{page.title}}
					</div> 
					<div id="content">
						{{content}}
					</div>
				</div> <!-- End contentContainer div -->
			</div> <!-- End content_wrapper div -->
			<div id="footer">
				<p>Copyright <sup>&copy;</sup> 2009 - 2011 Samyama Technology Solutions, LLC all rights reserved. <br />
					Site design by <a href="http://www.designgoggles.com/" target="_blank" title="">Design Goggles</a>
				</p>
			</div> <!--  End footer div. -->
		</div> <!-- End wrap div. -->
	</body>
</html>